#swap-button {
  border: none;
}
#swap-button:hover {
  background: none;
}

.convert-button-container {
  margin-bottom: 20px;
}
#convert-button {
  background-color: hsl(186, 84%, 70%);
}
#copy-button:focus {
  outline: none;
  box-shadow: none;
}
/* button {
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    touch-action: manipulation;
    outline: none;
    box-shadow: none;
    background: transparent;
} */

/* button:focus {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
} */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #ffebcd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.max-w-3xl {
  flex: 1;
}

.card-body {
  background-color: #cde1ff;
}
.navbar {
  background-color: #cde1ff !important;
}
.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}
footer {
  text-align: center;
  margin-top: 2rem; /* mt-5 equivalent */
  padding: 1rem 0;
  background: #cde1ff;
}
