#swap-button {
  border: none;
}
#swap-button:hover {
  background: none;
}

.convert-button-container {
  margin-bottom: 20px;
}
#convert-button {
  background-color: hsl(186, 84%, 70%);
}
#copy-button:focus {
  outline: none;
  box-shadow: none;
}
/* button {
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    touch-action: manipulation;
    outline: none;
    box-shadow: none;
    background: transparent;
} */

/* button:focus {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
} */

body {
  background-color: #ffebcd;
}
.card-body {
  background-color: #cde1ff;
}
.navbar {
  background-color: #cde1ff !important;
}
.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}
